# Configuración de la Aplicación
NODE_ENV=production
PORT=8080
NEXT_TELEMETRY_DISABLED=1

# Base URL del backend/API (si aplica)
# NEXT_PUBLIC_API_URL=https://tu-api.com

# PocketBase Configuration (si usas PocketBase)
# NEXT_PUBLIC_POCKETBASE_URL=https://tu-pocketbase.com

# Otras variables de entorno necesarias para tu aplicación
# Agrega aquí cualquier clave de API, tokens, etc.
